form.danger-zone-types .content{
    height: 460px;
}

.danger-zone-types .tabs .item {
    font-size: 16px;
    margin-bottom: 12px;
}

.danger-zone-type-form .tabs .item  {
    font-size: 16px;
    margin: 12px 0px;
}

.danger-zone-add, .danger-zone-type-add {
    float: right;
}

.danger-zone-type-form .form-group .flexrow label {
    line-height: 18px;
    margin-top: 5px;    
    min-height: 38px;
}

.dz-toolt {
    color: #9e9e9e;
    vertical-align: super;
    font-size: 10px;
}

form.danger-zone-record .hidden, 
form.danger-zone-type-form .hidden, 
.danger-part-form .hidden, 
#danger-zone-type-search-clear.hidden {
    display: none !important;
}

.danger-zone-scene-trigger-button.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.75s ease;
    position: absolute;
}

.danger-zone-scene-header, 
.danger-zone-types-header {
    flex: 1 1 100%;
    height: 30px;
    margin-bottom: 2px;
    padding: 6px 5px;
    color: #7a7971;
    font-size: 16px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

form ol.danger-zone-scene-list, form ol.danger-zone-types-list, form ol.danger-setting-group {
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    background: rgba(0, 0, 0, 0.03);
}

form ol.danger-setting-group > li {
    display: flex;
    flex: 0 0 20%;
    flex-wrap: wrap;
    list-style: none;
    white-space: break-spaces;
    text-align: center;
    text-overflow: clip;
    padding: 10px 0 0 0;
    width: 86px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

form.danger-zone-type-form .main-danger .form-group {
    margin: 7px 0px;
}

form.danger-zone-type-form .main-danger .form-group > * {
    flex: 7;
}

form.danger-zone-type-form .main-danger .form-group > label {
    flex: 3;
}

form.danger-zone-type-form .main-danger {
    background: rgba(0, 0, 0, 0.1);
    padding: 3px 10px;
}

.danger-zone-scene-list li.scene-config, 
.danger-zone-types-list li.type-record {
    flex: 1 1 100%;
    padding: 5px;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid #c9c7b8;
    font-size: 14px;
    font-family: "Signika", sans-serif;
}

.danger-zone-type-details, .danger-zone-details {
    flex: 0 0 88%;
    white-space: nowrap;
    overflow-x: hidden; 
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}

.danger-zone-type-details img {
    flex: 0 0 24px;
    height: 24px;
    margin-right: 6px;
    border-width: 0;
}

.danger-zone-type-details .name  {
    flex: 0 0 90%;
    padding: 3px 15px 0px 0px;
    white-space: nowrap;
    overflow-x: hidden; 
    flex-wrap: nowrap;
    text-overflow: ellipsis;
}


.danger-zone-types-header .danger-zone-controls, 
.danger-zone-scene .danger-zone-controls,
.danger-zone-types-list .danger-zone-controls {
    flex: 0 0 12%;
    text-align: right;
    color: #7a7971;
    padding: 0px 4px 0px 0px;
}

.danger-zone-types-header .danger-zone-details, 
.danger-zone-types-list .danger-zone-details,
.danger-zone-scene .danger-zone-details {
    flex: 1 1 auto;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.danger-zone-details .title {
    flex: 0 0 45%;
    white-space: nowrap;
    overflow-x: hidden; 
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0px 6px 0px 0px;
}

.scene-config .danger-zone-details .title {
    flex: 0 0 40%;
}

.scene-config .danger-zone-details img  {
    flex: 0 0 5%;
    height: 24px;
    margin-right: 6px;
    border-width: 0;
}

.danger-zone-details .type {
    flex: 0 0 30%;
    white-space: nowrap;
    overflow-x: hidden; 
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0px 6px 0px 0px;
}
.danger-zone-details .trigger {
    flex: 0 0 15%;
    white-space: nowrap;
    overflow-x: hidden; 
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0px 6px 0px 0px;
}
.danger-zone-details .random {flex: 0 0 10%; text-align: center;}

form.danger-zone-record .form-group .form-fields {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 4;
}

form.danger-zone-record .form-group .type-select-label {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2;
}

form.danger-zone-record .form-group .type-select-label > a {
    text-align: right;
    color: #7a7971;
    padding-right: 10px;
}

form.danger-zone-record .form-group {
    margin: 7px 0px;
}

.danger-zone-record .form-group.flexrow {
    flex: 1 1 auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.danger-zone-record .form-group.flexrow label, 
.danger-zone-record .form-group.flexrow h3 {
    flex: 1 1 auto;
    flex-wrap: nowrap;
}

.danger-zone-record .form-group.flexrow .form-fields {
    flex: 0 0 70%;
    flex-wrap: nowrap;
}

.danger-zone-record .form-group.flexrow .form-fields select {
    width: 100%;
}
.danger-zone-record .form-group.flexrow .trigger-select select ,
.danger-zone-record .form-group.flexrow .stretch select {
    width: 100%;
}

.danger-zone-record .form-group.flexrow .checkbox-value {
    flex: 0 0 7%;
}

.danger-zone-record .weight, .danger-zone-record .initiative, .danger-zone-record .initiative-label, .danger-zone-record .weight-label {
    float: right;
    flex: 0 0 15%; 
} 
.danger-zone-record .random-label {flex: 1 1 17%;}

.danger-zone-record .weight-label,
.danger-zone-record .stretch-label,
.danger-zone-record .initiative-label
{
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
}

form.danger-zone-record .form-fields .boundary-z{
    flex: 0 0 14%; 
}

form.danger-zone-record .form-fields .boundary-bottom-label {
    flex: 0 0 39%; 
    text-align: right;
}

form.danger-zone-record .form-fields .boundary-top-label {
    flex: 0 0 31%; 
    text-align: right;
}

/*hotbar*/
.danger-zone-hotbar-trigger {
    position: absolute;
    left: 780px;
    bottom: 12px;
    list-style: none;
    border-width: 0px;
    background-color: transparent;
    float: left;
    pointer-events: auto;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.danger-zone-sidebar-trigger {
    position: absolute;
    right: 350px;
    bottom: 2px;
    list-style: none;
    border-width: 0px;
    background-color: transparent;
    float: left;
    pointer-events: auto;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.danger-zone-hotbar-trigger > .danger-zone-scene-trigger-button, 
.danger-zone-sidebar-trigger > .danger-zone-scene-trigger-button
 {
    margin: 4px 0px 0px 0px;
    align-self: center;
}

.danger-zone-scene-trigger-master {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    color: #FFF;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 34px;
    padding-top: 3px;
    margin-top: 4px;
    text-align: center;
    bottom: -7px;
}

/*scene navigation*/
.danger-zone-scene-trigger {
    position: relative;
    list-style: none;
    margin: 0px 4px 8px 0px;
    padding: 0;
    border-width: 0px;
    background-color: transparent;
    height: 34px; 
    float: left;
    pointer-events: auto;
}

.danger-zone-scene-trigger-button {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    color: #FFF;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    float: left;
    font-size: 26px;
    margin-right: 4px;
    vertical-align: middle;
    text-align: center;
}

.danger-zone-scene-trigger-button:hover, 
.danger-zone-scene-trigger-master:hover, 
.danger-zone-scene-trigger-master.active {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

form ol.danger-setting-group button {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px var(--color-shadow-dark);
    color: var(--color-text-light-4);
    border: 1px solid var(--color-border-dark);
}

form ol.danger-setting-group .active button {
    color: #FFF;
    background-color: rgba(60, 0, 120, 0.5);
    box-shadow: 0 0 10px #9b8dff;
}

form ol.danger-setting-group button:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

form ol.danger-setting-group a.danger-zone-type-delete {
    visibility: collapse;
    position: absolute;
    top: 68px;
    font-size: 16px;
    background: rgba(255, 62, 65);
    box-shadow: 0 0 10px red;
    width: 60px;
    padding: 8px 0px;
    margin-top: 6px;
}

form ol.danger-setting-group .active:hover a.danger-zone-type-delete {
    visibility: visible;
}


form ol.danger-setting-group .active:hover label {
    visibility: hidden;
}

.danger-zone-hotbar-trigger:hover li.hidden, 
.danger-zone-sidebar-trigger:hover li.hidden, 
.danger-zone-scene-trigger-master.active ~ li.hidden {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.danger-zone-scene-trigger-button.active{
    background-color: rgba(60, 0, 120, 0.5);
    box-shadow: 0 0 10px #9b8dff;
}

.danger-zone-scene-trigger-button.random {
    font-size: 28px;
}

/*danger zone type form*/
.danger-zone-type-form .form-header {
    margin-bottom: 5px;
    padding-bottom: 6px;
    border-top: none;
    flex: 0 0 100%;
}

/*search*/
#danger-zone-type-primary-controls {
    width: 100%;
    margin: 10px 0px 24px 0px;
    height: 36px;
}

.danger-zone-type-search {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 34px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
    width: 84%;
}

.danger-zone-type-json-export, .danger-zone-type-json-import {
    display: inline-block;
    width:7%;
    position: relative;
    height: 36px;
}
  
#danger-zone-type-search-input  {
    outline: none;
    padding: 0 38px 0 38px;
    height: 100%;
    border: none;
}

#danger-zone-type-search-input.outline {
    box-shadow: 0 0 5px red;
}
  
#danger-zone-type-search-clear {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
  
  
#danger-zone-type-search-clear i {
    margin: 0;
}

#danger-zone-type-search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
  
#danger-zone-type-search-icon i, 
.danger-zone-type-button > i {
    margin: 0;
}

.danger-zone-type-button {
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 18px;
}


.location-picker > i {
    margin-right: 0px;
}